.fb-feed-item {
  padding-right: 35px !important;
}

.comment-text {
  font-size: 14px;
}

#comments tr {
  vertical-align: top; 
}

a {
  color: inherit;
}

#fb-loading-bottom {
  position: relative;
  top: -7px;
  right: -3px;
}

#fb-like-spinner {
  position: relative;
  top: -4px;
}

#fb-comment-spinner {
  position: relative;
}

.hidden {
  display: none;
}


.like-comment-image {
  position: relative;
  top: 4px;
}

.comment-pic {
  padding-right: 5px;
  width: 32px;
}


#fb-item-new-comment {
  position: relative;
}


/* Firefox only css */
@-moz-document url-prefix() {
  #fb-item-new-comment {
    top: -10px;
    width: 55%;
  }

  #fb-comment-spinner {
    top: -9px;
  }
}


/* Chrome only css */
@media screen and (-webkit-min-device-pixel-ratio:0){
  #fb-like-spinner {
    top: 4px;
  }

  #fb-comment-spinner {
    top: 4px;
  }

  .hidden {
    position: relative;
    top: 9px;    
  }

  #fb-loading-bottom {
    top: 3px;
  }

  #fb-item-new-comment {
    top: 2px;
  }
}
