.comment-text {
  font-size: 14px;
}

#comments tr {
  vertical-align: top; 
}

a {
  color: inherit;
}

#fb-loading-bottom {
  position: relative;
  top: -7px;
  right: -3px;
}

#fb-like-spinner {
  position: relative;
  top: -4px;
}

.hidden {
  display: none;
}


@media screen and (-webkit-min-device-pixel-ratio:0){
  #fb-like-spinner {
    position: relative;
    top: 4px;
  }

  .hidden {
    position: relative;
    top: 9px;    
  }

  #fb-loading-bottom {
    top: 3px;
  }  
} 
